@charset 'UTF-8';
/* CSS reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td
{
    margin: 0;
    padding: 0;
}
fieldset,
img
{
    border: 0;
}
:focus
{
    outline: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup
{
    font-weight: normal; 
    font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: 'Microsoft YaHei'; 
    font-size: 100%;
    font-weight: normal;
}
abbr,
acronym
{
    font-variant: normal; 

    border: 0;
}
code,
kbd,
samp,
tt
{
    font-size: 100%;
}
input,
button,
textarea,
select
{
    border: none;

    *font-size: 100%;
}
body
{
    font: 14px/2em Microsoft YaHei,SimSun,Arial;

    color: #5e5e5e;
    background: #fff;
}
ol,
ul
{
    list-style: none;
}
table
{
    border-spacing: 0; 
    border-collapse: collapse;
}
caption,
th
{
    text-align: left;
}
sup,
sub
{
    font-size: 100%;

    vertical-align: baseline;
}
select,
option
{
            appearance: none;
         -o-appearance: none;
       -moz-appearance: none;
    -webkit-appearance: none;
}

body
{
    font-family: '微软雅黑';
    font-size: 14px;
    min-width: 1280px;
    height: 100%;
    -webkit-font-smoothing: antialiased;/*字体抗锯齿*/
}

.hide-text
{
    overflow: hidden;

    white-space: nowrap;
    text-indent: 100%;
}

#header
{
    position: relative;

    display: block;

    height: 60px;
}

.logo
{
    float: left;
}
#logo
{
    margin: 0 20px;
}
#logo a,
.logo a
{
    display: block;
    overflow: hidden;

    width: 140px;
    height: 60px;

    white-space: nowrap;
    text-indent: 100%;

    background: url(images/logo.png) no-repeat right center;
}
.logo a
{
    -webkit-transition: background-color .2s;
       -moz-transition: background-color .2s;
            transition: background-color .2s;
}
.logo a:hover
{
    background-color: #363c41;
}

.icon-menu:before
{
    content: '\e61e';
}

.g-menu-mini
{
    font-size: 24px;
    line-height: 60px;

    position: relative;

    float: left;

    width: 500px;
    height: 60px;
    margin-left: 500px;
}

.nav-item
{
    top: 100%;
    left: 0;

    display: inline-block;
}

.nav-item li
{
    float: none;

    width: 100%;
    margin: 0;
}

.nav-item li a
{
    /*  padding-left: 30px;*/
    text-align: center;
}

.nav-item li
{
    float: left;

    width: 100px;
}
.nav-item a
{
    font-size: 14px;

    position: relative;

    display: block;
    /*  height: 60px;
  -webkit-transition: background 0.3s;*/

    -moz-transition: background .3s;
    text-align: center;
    /*  transition: background 0.3s;*/
}
.nav-item a:hover,
.nav-item .active a,
.nav-item a.active
{
    color: #e75051;
    background: url(images/06.png) no-repeat bottom center;
}
.nav-item a .icn-new
{
    position: relative;
    top: -10px;

    display: inline-block;

    width: 16px;
    height: 16px;

    *display: inline;
    *zoom: 1;
}

.g-login
{
    font-size: 14px;
    line-height: 60px;

    position: relative;

    float: left;

    width: 60px;
    height: 60px;
    margin-left: 10px;
    padding-left: 20px;

    color: #e75051;
    background: url(images/04.png) no-repeat center left;
}

#adv01
{
    position: relative;

    display: block;

    width: 1280px;
    height: 700px;
}

.adv01
{
    position: absolute;

    display: block;

    width: 1280px;
    height: 700px;

    background-image: url(images/picture04.png);
    background-repeat: no-repeat;
}

.adv01-p
{
    position: absolute;

    display: block;

    width: 1280px;
    height: 700px;

    background-image: url(images/pic04.png);
    background-repeat: no-repeat;
    /*  background-color:#c0bbb7;
  opacity:0.2;
  filter: alpha(opacity=50);*/
}

.adv01-t-hd1
{
    font-size: 60px;

    position: relative;
    top: 250px;

    display: block;

    height: 50px;
    padding-left: 120px;

    color: white;
}

.adv01-t-hd2
{
    font-size: 20px;

    position: relative;
    top: 280px;

    display: block;

    height: 20px;
    padding-left: 125px;

    color: white;
}

.adv01-t-hd3
{
    font-size: 20px;

    position: relative;
    top: 300px;

    display: block;

    height: 20px;
    padding-left: 125px;

    color: white;
}

.adv01-t-hd4
{
    position: relative;
    top: 380px;

    display: block;

    width: 330px
    height: 60px;
    padding-left: 125px;
}

.btn-red
{
    font-size: 28px;

    position: relative;

    overflow: hidden;

    width: 330px;
    height: 60px;
    margin: 0 20px 20px 0;

    text-align: center;

    color: #fff;
    background-color: #e75051;
}




#adv02
{
    font-size: 12px;
    font-weight: bold;

    top: -50px;

    display: block;

    height: 250px;

    width: 1280px;
}

.adv02-pic01
{
    position: relative;

    display: block;
    float: left;
    overflow: visible;

    width: 317px;
    height: 250px;
}

.adv02-pic01-logo01
{
    position: relative;
    top: 45px;

    display: block;

    width: 45px;
    height: 45px;
    margin-left: 145px;

    text-align: center;

    background: url(images/07.png) no-repeat center center;
}

.adv02-pic01-t
{
    position: relative;
    top: 90px;

    display: block;

    width: 150px;
    height: 30px;
    margin-left: 90px;

    text-align: center;
}

.adv02-line
{
    position: relative;
    top: 140px;

    display: block;
    float: left;

    width: 2px;
    height: 50px;

    border-right: 2px solid #696969;
}

.adv02-pic02
{
    position: relative;

    display: block;
    float: left;
    overflow: visible;

    width: 317px;
    height: 250px;
}

.adv02-pic02-logo01
{
    position: relative;
    top: 45px;

    display: block;

    width: 45px;
    height: 45px;
    margin-left: 145px;

    text-align: center;

    background: url(images/08.png) no-repeat center center;
}

.adv02-pic02-t
{
    position: relative;
    top: 90px;

    display: block;

    width: 150px;
    height: 15px;
    margin-left: 90px;

    text-align: center;
}

.adv02-pic03
{
    position: relative;

    display: block;
    float: left;
    overflow: visible;

    width: 317px;
    height: 250px;
}

.adv02-pic03-logo01
{
    position: relative;
    top: 45px;

    display: block;

    width: 45px;
    height: 45px;
    margin-left: 145px;

    text-align: center;

    background: url(images/09.png) no-repeat center center;
}

.adv02-pic03-t
{
    position: relative;
    top: 90px;

    display: block;

    width: 150px;
    height: 15px;
    margin-left: 90px;

    text-align: center;
}

.adv02-pic04
{
    position: relative;

    display: block;
    float: left;
    overflow: visible;

    width: 317px;
    height: 250px;
}

.adv02-pic04-logo01
{
    position: relative;
    top: 45px;

    display: block;

    width: 45px;
    height: 45px;
    margin-left: 145px;

    text-align: center;

    background: url(images/10.png) no-repeat center center;
}

.adv02-pic04-t
{
    position: relative;
    top: 90px;

    display: block;

    width: 150px;
    height: 15px;
    margin-left: 90px;

    text-align: center;
}

#adv03
{
    display: block;

    height: 360px;

    width: 1280px;

    background-color: #ecebeb;
}

.static-logo
{
    position: relative;
    top: 100px;

    display: block;

    width: 160px;
    height: 100px;
    margin: 0 auto;

    background: url(images/03.png) no-repeat center center;
}

.static-text-hold
{
    font-size: 50px;
    font-weight: bold;

    position: relative;
    top: 150px;

    display: block;

    height: 100px;

    text-align: center;

    color: #867e7a;
}

#adv04
{
    display: block;

    width: 1280px;
    height: 340px;
}

.adv04-map-bkgr
{
    position: absolute;

    display: block;

    width: 1280px;
    height: 340px;

    background: url(images/picture03.png) no-repeat center center;
}

.adv04-map-tu
{
    position: absolute;

    display: block;

    width: 1280px;
    height: 340px;

    background: url(images/pic03.png) no-repeat center center;
    /*background-color:#e5cdcc;*/
    /*  opacity:0.5;
  filter: alpha(opacity=50);*/
}

.adv04-map-text01
{
    font-size: 20px;

    position: relative;

    display: block;

    height: 20px;
    margin-top: 50px;

    text-align: center;

    color: white;
}

.adv04-map-logo
{
    position: relative;

    display: block;

    height: 5px;
    margin-top: 15px;
    /*top: 10px;*/

    text-align: center;

    background: url(images/11.png) no-repeat center center;
}

.adv04-map-text02
{
    font-size: 12px;

    position: relative;

    display: block;

    height: 10px;
    margin-top: 10px;

    text-align: center;

    color: white;
}

.adv04-map-select-01
{
    position: relative;

    display: block;
    float: left;

    width: 235px;
    height: 40px;
    margin-top: 55px;
    margin-left: 125px;
}

.adv04-map-select-01-1
{
    font-size: 18px;

    display: inline-block;
    overflow: hidden;

    width: 220px;
    height: 40px;
    /*  font-size: 24px;
  color: #bebebe;*/
    padding-left: 15px;

    border-color: #fff;
    background: url(images/12.png) no-repeat #fff;
    background-position: 200px 10px;
}

.form-select__item
{
    display: table;

    margin: 0 auto;
    margin: 0;
    padding: 0;

    -webkit-transition: all .5s .1s;
       -moz-transition: all .5s .1s;
        -ms-transition: all .5s .1s;
         -o-transition: all .5s .1s;
            transition: all .5s .1s;

    border-bottom: 2px solid #2c3f50;
    border-radius: 5px;
    outline: 0;
    background: #34495e;
}

.form-select__item li
{
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;

    position: relative;

    float: left;

    list-style: none;

    border-right: 1px solid #2c3f50;
    border-left: 1px solid #435565;
}

.adv04-map-select-01-1-1
{
    display: inline-block;
    overflow: hidden;

    width: 220px;
    height: 40px;

    background: url(images/17.png) no-repeat ;
    background-position: 190px 15px;
}

.adv04-map-option
{
    display: inline-block;
    overflow: hidden;

    width: 220px;
    height: 40px;
    padding-left: 15px;

    background: url(images/17.png) no-repeat #e4e4e6;
    background-position: 10px 15px;
}

.adv04-map-select-02
{
    position: relative;

    display: block;
    float: left;

    width: 235px;
    height: 40px;
    margin-top: 55px;
    margin-left: 30px;
}

.adv04-map-select-03
{
    position: relative;

    display: block;
    float: left;

    width: 235px;
    height: 40px;
    margin-top: 55px;
    margin-left: 30px;
}

.adv04-map-btn
{
    position: relative;

    display: block;
    float: left;

    width: 235px;
    height: 40px;
    margin-top: 55px;
    margin-left: 30px;
}

.adv04-map-btn-red
{
    font-size: 14px;
    font-weight: bold;

    position: relative;

    overflow: hidden;

    width: 235px;
    height: 40px;

    text-align: center;

    color: #fff;
    background-color: #e75051;
}


#adv05
{
    position: relative;

    display: block;

    height: 600px;

    width: 1280px;

    background-color: #f6f6f6;
}

.adv05-back
{
    position: relative;

    display: block;

    height: 600px;

    background: url(images/picture05.png) no-repeat ;
    background-position: 160px 110px;
}

.adv05-pic01
{
    position: relative;

    display: block;
    float: left;

    height: 390px;
    margin-top: 100px;
    margin-left: 150px;
}

.adv05-pic01-p
{
    position: relative;

    display: block;

    width: 200px;
    height: 310px;

    border: 10px solid #fff;
}

.adv05-pic01-t
{
    font-weight: bold;

    position: relative;

    display: block;

    width: 220px;
    height: 15px;
    margin-top: 5px;

    text-align: center;
}

.adv05-pic01-t2
{
    font: 10px;
    font-size: 12px;

    position: relative;

    display: block;

    width: 220px;
    height: 25px;
    margin-top: 5px;

    text-align: center;
}

.adv05-pic02
{
    position: relative;

    display: block;
    float: left;

    height: 390px;
    margin-top: 90px;
    margin-left: 35px;
}

.adv05-pic02-p
{
    position: relative;

    display: block;

    width: 200px;
    height: 310px;
    margin-top: 5px;

    border: 10px solid #fff;
}

.adv05-pic02-t
{
    font-size: 24px;
    font-weight: bold;

    position: relative;

    display: block;

    width: 220px;
    height: 25px;
    margin-top: 5px;

    text-align: center;
}


.adv05-pic02-sp2
{
    margin-left: 30px;
}

.adv05-pic02-t2
{
    font-size: 12px;

    position: relative;

    display: block;

    width: 220px;
    height: 25px;
    margin-top: 5px;

    text-align: center;
}

.adv05-pic03
{
    position: relative;

    display: block;
    float: left;

    height: 390px;
    margin-top: 100px;
    margin-left: 35px;
}

.adv05-pic03-p
{
    position: relative;

    display: block;

    width: 200px;
    height: 310px;

    border: 10px solid #fff;
}

.adv05-pic03-t
{
    font-weight: bold;

    position: relative;

    display: block;

    width: 220px;
    height: 15px;
    margin-top: 5px;

    text-align: center;
}

.adv05-pic03-t2
{
    font-size: 12px;

    position: relative;

    display: block;

    width: 220px;
    height: 25px;
    margin-top: 5px;

    text-align: center;
}


.adv05-pic04
{
    position: relative;

    display: block;
    float: left;

    height: 390px;
    margin-top: 100px;
    margin-left: 35px;
}

.adv05-pic04-p
{
    position: relative;

    display: block;

    width: 200px;
    height: 310px;

    border: 10px solid #fff;
}

.adv05-pic04-t
{
    font-weight: bold;

    position: relative;

    display: block;

    width: 220px;
    height: 15px;
    margin-top: 5px;

    text-align: center;
}

.adv05-pic04-t2
{
    font-size: 12px;

    position: relative;

    display: block;

    width: 220px;
    height: 25px;
    margin-top: 5px;

    text-align: center;
}


#adv06
{
    display: block;

    height: 500px;

    width: 1280px;
}

.adv06-pic01
{
    position: relative;

    display: block;
    float: left;

    width: 850px;
    height: 500px;

    background: url(images/picture02.png) no-repeat center center;
}

.adv06-p
{
    position: absolute;

    display: block;

    width: 850px;
    height: 500px;

    background: url(images/13.png) no-repeat center right;
}

.adv06-pic01-t1
{
    font-size: 48px;

    position: relative;
    top: 100px;

    display: block;

    height: 30px;

    text-align: center;

    color: white;
}

.adv06-pic01-t2
{
    font-size: 160px;

    position: relative;
    top: 170px;

    display: block;

    height: 30px;

    text-align: center;

    color: white;
}

.adv06-pic01-t3
{
    font-size: 24px;

    position: relative;
    top: 250px;

    display: block;

    height: 30px;

    text-align: center;

    color: white;
}

.adv06-pic01-t4
{
    font-size: 24px;

    position: relative;
    top: 270px;

    display: block;

    height: 30px;

    text-align: center;

    color: white;
}

.adv06-pic02
{
    position: relative;

    display: block;
    float: left;

    width: 300px;
    height: 500px;
}

.adv06-pic02-p
{
    position: relative;

    display: block;

    width: 120px;
    height: 20px;
    margin-top: 140px;
    margin-left: 160px;

    background: url(images/01.png) no-repeat center center;
}

.adv06-pic02-t
{
    font-size: 12px;

    position: relative;

    display: block;

    width: 290px;
    height: 105px;
    margin-top: 30px;
    margin-left: 70px;
}

.adv06-t
{
    font-size: 12px;

    position: relative;

    display: block;

    width: 110px;
    height: 30px;
    margin-top: 10px;
    margin-left: 165px;

    text-align: center;

    color: #e74f4d;
}

.adv06-t-1
{
    display: block;
    float: left;

    width: 165px;
    height: 30px;
}

.adv06-t-2
{
    display: block;
    float: left;

    width: 110px;
    height: 30px;
    padding-top: 1px;

    border: 1px solid #e74f4d;;
}

.adv06-t-sp
{
    display: block;

    height: 30px;
}

.adv06-logo
{
    position: relative;

    display: block;

    width: 120px;
    height: 20px;
    margin-top: 50px;
    margin-left: 165px;

    text-align: center;

    background: url(images/05.png) no-repeat center center;
}


#adv07
{
    position: relative;

    display: block;

    height: 520px;

    width: 1280px;
}

.adv07-pic01
{
    position: relative;

    display: block;
    float: left;

    width: 430px;
    height: 520px;

    background-color: #e75051;
}

.adv07-pic01-t1
{
    font-size: 24px;

    position: relative;
    top: 170px;

    display: block;

    height: 30px;

    text-align: center;

    color: #f8d2c3;
}

.adv07-pic01-t2
{
    font-size: 24px;

    position: relative;
    top: 180px;

    display: block;

    height: 30px;

    text-align: center;

    color: #f8d2c3;
}

.adv07-pic01-p
{
    position: relative;

    display: block;

    height: 5px;
    /*top: 20px;*/
    margin-top: 210px;

    background: url(images/11.png) no-repeat center center;
}

.adv07-pic01-t4
{
    font-size: 24px;

    position: relative;
    top: 30px;

    display: block;

    width: 430px;
    height: 50px;

    text-align: center;

    color: #f8d2c3;
}

.adv07-pic01-t4-1
{
    display: block;
    float: left;

    width: 130px;
    height: 50px;
}

.adv07-pic01-t4-2
{
    display: block;
    float: left;

    width: 170px;
    height: 50px;

    border: 2px solid #f8d2c3;
}

.adv07-pic01-t4-2-sp
{
    display: block;

    height: 30px;
    padding-top: 10px;
}

.adv07-pic01-t4-3
{
    display: block;
    float: left;

    width: 130px;
    height: 50px;
}

.adv07-pic02
{
    position: relative;

    display: block;
    float: left;

    width: 420px;
    height: 520px;
}

.adv07-pic02-t1
{
    font-size: 24px;

    position: relative;
    top: 170px;

    display: block;

    height: 30px;

    text-align: center;

    color: black;
}

.adv07-pic02-t2
{
    font-size: 24px;

    position: relative;
    top: 180px;

    display: block;

    height: 30px;

    text-align: center;

    color: black;
}

.adv07-pic02-p
{
    position: relative;

    display: block;

    height: 5px;
    /*top: 20px;*/
    margin-top: 210px;

    background: url(images/15.png) no-repeat center center;
}

.adv07-pic02-t4
{
    font-size: 24px;

    position: relative;
    top: 30px;

    display: block;

    height: 30px;

    text-align: center;

    color: black;
}

.adv07-pic02-t4-2
{
    display: block;
    float: left;

    width: 170px;
    height: 50px;

    color: #e55155;
    border: 2px solid #e55155;
}

.adv07-pic02-t4-2-sp
{
    display: block;

    height: 30px;
    padding-top: 10px;
}

.adv07-pic03
{
    position: relative;

    display: block;
    float: left;

    width: 430px;
    height: 520px;
}

.adv07-pic03-p
{
    position: absolute;

    display: block;

    width: 430px;
    height: 520px;

    background: url(images/picture01.png) no-repeat center center;
}

.adv07-pic03-p1
{
    position: absolute;

    display: block;

    width: 430px;
    height: 520px;

    background: url(images/pic01.png) no-repeat center center;
}

.adv07-pic03-p2
{
    position: absolute;

    display: block;

    width: 430px;
    height: 530px;

    background: url(images/14.png) no-repeat center left;
}

#adv08
{
    position: relative;

    display: block;

    height: 750px;

    width: 1280px;
}

.adv08-pic01
{
    position: relative;

    display: block;

    height: 85px;
    margin-top: 110px;

    text-align: center;
}

.adv08-pic01-t1
{
    font-size: 18px;
    font-weight: bold;

    position: relative;

    display: block;

    height: 20px;
}

.adv08-pic01-line
{
    position: relative;

    display: block;

    width: 40px;
    height: 2px;
    margin-top: 20px;
    margin-left: 620px;

    background: url(images/06.png) no-repeat center center;
}

.adv08-pic01-t2
{
    font-size: 12px;
    line-height: 20px;

    position: relative;

    display: block;

    width: 420px;
    height: 40px;
    margin-top: 15px;
    margin-left: 430px;
}

.adv08-pic02
{
    position: relative;

    display: block;

    width: 1000px;
    height: 320px;
    margin-top: 100px;
    margin-left: 140px;
}

.adv08-pic02-t1
{
    position: relative;

    display: block;
    float: left;

    width: 290px;
    height: 320px;
}

.adv08-pic02-t1-t1
{
    font-size: 14px;
    font-weight: bold;

    position: relative;

    display: block;

    height: 20px;
}

.adv08-pic02-t1-t2
{
    font-size: 12px;

    position: relative;

    display: block;

    width: 280px;
    height: 20px;
    margin-top: 20px;
}

.adv08-pic02-t1-t3
{
    font-size: 12px;

    position: relative;

    display: block;

    width: 280px;
    height: 10px;
    margin-top: 30px;

    text-align: right;
}

.adv08-pic02-t2-t1
{
    font-size: 14px;
    font-weight: bold;

    position: relative;

    display: block;

    height: 20px;
    margin-top: 40px;
}

.adv08-pic02-t2-t2
{
    font-size: 12px;

    position: relative;

    display: block;

    width: 280px;
    height: 20px;
    margin-top: 20px;
}

.adv08-pic02-t2-t3
{
    font-size: 12px;

    position: relative;

    display: block;

    width: 280px;
    height: 10px;
    margin-top: 30px;

    text-align: right;
}

.adv08-pic02-t3-t3
{
    font-size: 12px;

    position: relative;

    display: block;

    width: 280px;
    height: 10px;
    margin-top: 10px;

    text-align: right;
}

.adv08-pic02-r
{
    position: relative;

    display: block;
    float: left;

    width: 710px;
    height: 320px;
}

.adv08-pic02-r-01
{
    position: relative;

    display: block;
    float: left;

    width: 710px;
    height: 40px;
    margin-top: 5px;
    margin-left: 70px;
}

.adv08-pic02-r-02
{
    position: relative;

    display: block;
    float: left;

    width: 710px;
    height: 40px;
    margin-top: 20px;
    margin-left: 70px;
}

.adv08-pic02-r-01-l
{
    position: relative;

    display: block;
    float: left;

    width: 310px;
    height: 40px;
    padding-left: 10px;

    background-color: #ededee;
    /*  padding-top: 10px;*/
}

.adv-input
{
    width: 220px;
    height: 40px;
    margin-left: 10px;

    background-color: #ededee;
}

.adv08-pic02-r-01-r
{
    position: relative;

    display: block;
    float: left;

    width: 310px;
    height: 40px;
    margin-left: 30px;
    padding-left: 10px;

    background-color: #ededee;
    /*  padding-top: 10px;*/
}

.adv08-pic02-r-03
{
    position: relative;

    display: block;
    float: left;

    width: 660px;
    height: 140px;
    margin-top: 20px;
    margin-left: 70px;
    padding-top: 10px;
    padding-left: 10px;

    background-color: #ededee;
}

.message
{
    font-size: 14px;

    position: relative;

    width: 660px;
    height: 140px;

    background-color: #ededee;
}

.adv08-pic02-r-04
{
    font-size: 24px;
    font-weight: bold;

    position: relative;

    display: block;
    float: left;

    width: 670px;
    height: 40px;
    margin-top: 10px;
    margin-left: 70px;
    padding-top: 10px;

    text-align: center;

    background-color: #ededee;
}

.btn-gray
{
    font-size: 18px;
    font-weight: bold;

    position: relative;

    display: block;

    margin-top: 7px;
    margin-left: 300px;

    text-align: center;

    background-color: #ededee;
}

#adv09
{
    position: relative;

    display: block;

    height: 360px;

    width: 1280px;

    color: #fff;

    background-color: #33353e;
}

.adv09-pic01
{
    font-size: 20px;
    font-weight: bold;

    position: relative;
    top: 90px;

    display: block;

    height: 20px;

    text-align: center;
}

.adv09-pic02
{
    font-size: 12px;
    line-height: 20px;

    position: relative;

    display: block;

    width: 470px;
    height: 30px;
    margin-top: 100px;
    margin-left: 405px;

    text-align: center;
}

.adv09-pic03
{
    position: relative;

    display: block;

    width: 510px;
    height: 40px;
    margin-top: 30px;
    margin-left: 385px;
}

.adv09-f-t
{
    font-size: 14px;

    position: relative;

    display: block;
    float: left;

    width: 430px;
    height: 40px;

    text-indent: 20px;/*设置抬头距离css缩进*/
}

.adv09-f-s
{
    font-size: 16px;

    position: relative;

    display: block;
    float: left;

    width: 80px;
    height: 40px;

    color: #fff;
    background-color: #72727a;
}

.adv09-pic04
{
    position: relative;

    display: block;

    width: 220px;
    height: 30px;
    margin-top: 40px;
    margin-left: 550px;

    background: url(images/footer.png) no-repeat center center;
}



#footer
{
    font-size: 12px;

    position: relative;

    display: block;

    height: 60px;

    width: 1280px;

    color: #fff;
    background-color: #30313a;
}

.footer-pic01
{
    position: relative;

    display: block;
    float: left;

    width: 120px;
    height: 20px;
    margin-left: 100px;
    padding-top: 20px;
}

.footer-pic02
{
    position: relative;

    display: block;
    float: left;

    width: 120px;
    height: 20px;
    margin-left: 900px;
    padding-top: 20px;
}
